*{
    margin:0px;
    padding:0px;
}
/* css for header */
.header{
    height:70px;
    width:100%;
    display:flex;
    justify-content:center;
    background-color: rgb(87, 88, 92);
    position: fixed;
}
/* css for container */
.container{
    width:80%;
    /* height:10px; */
    /* background-color: red; */
    display:flex;
}
.header_container{
    justify-content: space-between;
}
.logo{
    height:70px;
    line-height:70px;
    width:15%;
    /* background-color: rgb(241, 226, 14); */
    font-size: 20px;
    /* font-family: */
    text-align:center;
    color:white;
    font-weight:bold;
}
.nav{
     height:80px;
     width:50%;
     /* background-color: cyan; */
     display: flex;
}
.nav-item{
    width:20%;
    height:70px;
    /* font-size:15px; */
    text-align:center;
    line-height:70px;
    /* background-color: darkolivegreen; */  
    color:white;
    cursor:pointer;
}
.nav-item:hover{
    background-color: white;
    color:rgb(149, 162, 221);
    transition: 1s;
}
.banner{
    height: 95vh;
    width: 100%;
    background-color: gray;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/4974914/pexels-photo-4974914.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

.overlay{
    height: 95vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
}

.banner_text{
    height: 350px;
    width: 40%;
    margin-left: 5%;
    background-color: rgba(143, 128, 97, 0.7);
    font-family: segoe UI;
    display: flex;
    align-items: center;
    color: white;
}
.banner_textone{
    height: 350px;
    width: 40%;
    margin-left: 5%;
    background-color: rgba(143, 128, 97, 0.7);
    font-family: segoe UI;
    /* display: flex; */
    align-items: center;
    color: white;
}

.banner_title{
    font-size: 50px;
    margin-bottom: 15px;
    
}

.banner_desc{
    margin-bottom: 30px;
    text-transform: uppercase;
}

.padd{
    padding: 50px;
    /* background-color: red; */
}

.banner_btn{
    padding-left: 60px;
    padding-right:60px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-family: segoe ui;
    border:3px solid white;
    cursor: pointer;
    transition: 1s;
}

.banner_btn:hover{
    background-color: white;
    color: rgba(16, 128, 234, 1);
}


/* css for services  */

.services{
    padding-top:50px;
    padding-bottom: 50px;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: segoe UI;
}

.services_container{
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service{
    height: 400px;
    width: 47%;
    background-color: white;
    display: flex;
    margin-top: 20px;
}


.service_img{
    width: 40%;
    height: 400px;
    /* background-color: red; */
    display: flex;
    overflow: hidden;
}

.service_details{
    width: 60%;
    height: 400px;
    background-color: rgb(115, 143, 115);
    display: flex;
    align-items: center;
}

.service_padd{
    padding: 30px;
}


.service_btn{

    padding-left: 60px;
    padding-right:60px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    background-color: rgb(115, 143, 115);
    color: white;
    font-weight: bold;
    font-family: segoe ui;
    border:3px solid white;
    cursor: pointer;
    transition: .4s;

}
.service_btn:hover{
    background-color: white;
    color: rgba(16, 128, 234, 1);
}

.service_title{
    margin-bottom: 35px;
    ;
}

.service_desc{
    margin-bottom: 30px;
}
.hari{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    /* font-size: 20px; */
    font-family: Segoe UI;
    align-items: center;
}
.hari_container{
    margin-top: 30px;
    /* background-color:grey ; */
    display:inline;
    font-style: oblique;
    line-height: 30px;
} 
.span{
    font-size: 30px;
    font-weight: bold;
    font-style:initial;
    color:rgb(51, 51, 51);
}
.overlight{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    background-color: grey;
    
}
.over_ele{
    width:22%;
    height:200px;
    background-color:rgba(46, 44, 44, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 5px solid rgba(151, 146, 146, 0.863);
    transition:.9s;
}
.over_ele:hover{
    background-color: white;
    color: grey;
    transition: .9s;

}
.overlight_container{
    justify-content: space-between;
}
.ha{
    font-size: 40px;

}
.over_ele_child{
    font-size: 15px;
    font-family: segoe ui;
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_child{
    height:300px;
    width:25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-family: segoe ui;
}
.footer_child_1{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
}
.first{
    font-size: 22px;
    font-weight: bold;
}
li{
    list-style-type:none;
    font-size: 12px;
    margin-bottom: 10px;
    color:black;
}
.social_container{
    justify-content: space-between;
}
.socialmediaicons{
    height:70px;
    width:75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    cursor: pointer;;
    /* background-color: white; */
}

.smi1{
    background-image: url('./icons/instagram1.png');
}
.smi2{
    background-image: url('./icons/facebook2.png');
}
.smi3{
    background-image: url('./icons/linkedin1.png');
}
.smi4{
    background-image: url('./icons/youtube1.png');
}



